/*
animation css
*/
@keyframes pulse-timer {
    0% {
        transform: scale(1);
        text-shadow: 0 0 0 rgba(255, 193, 7, 0); /* Nessuna ombra all'inizio */
    }
    50% {
        transform: scale(1.05); /* Leggero ingrandimento */
        text-shadow: 0 0 8px rgba(255, 193, 7, 0.5); /* Ombra gialla per l'effetto "glow" */
    }
    100% {
        transform: scale(1);
        text-shadow: 0 0 0 rgba(255, 193, 7, 0); /* Ritorna alla normalità */
    }
}
